<h1>List of messages</h1>
{{#messages}}
    <p>{{timeread}} {{messagetext}}</p>
{{/messages}}


<hr>
<input type="button" class="btn btn-primary" onclick="location.href='{{editurl}}'" value="Add new message">